In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2022-11-09 03:01:47,-46.1927,168.8643,56.50,75,96,9.26
1,1,Hilo,US,2022-11-09 03:01:47,19.7297,-155.0900,74.25,90,100,4.61
2,2,Ushuaia,AR,2022-11-09 03:01:47,-54.8000,-68.3000,38.66,96,46,5.75
3,3,Ribeira Grande,PT,2022-11-09 03:01:48,38.5167,-28.7000,65.77,85,89,8.01
4,4,Marzuq,YE,2022-11-09 03:01:48,14.4000,46.4667,63.05,51,3,4.32

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]

# # 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length

# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()

# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)

# # 6. Call the figure to plot the data.
# fig

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

print(max_temp)

0      56.50
1      74.25
2      38.66
3      65.77
4      63.05
       ...
536    34.39
537    78.22
538    69.71
539    68.25
540    79.50
Name: Max Temp, Length: 541, dtype: float64

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
# fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))

max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Sao Filipe,CV,2022-11-09 03:01:49,14.8961,-24.4956,77.67,68,71,9.80
6,6,Bengkulu,ID,2022-11-09 03:01:49,-3.8004,102.2655,81.75,72,100,2.48
7,7,Rikitea,PF,2022-11-09 03:01:49,-23.1203,-134.9692,75.56,88,94,13.47
13,13,Atuona,PF,2022-11-09 03:01:52,-9.8000,-139.0333,77.22,72,12,13.80
19,19,Padang,ID,2022-11-09 03:01:54,-0.9492,100.3543,84.25,78,100,3.11
21,21,Vaini,TO,2022-11-09 03:01:54,-21.2000,-175.2000,76.35,78,97,18.61
35,35,Hobart,AU,2022-11-09 03:01:59,-42.8794,147.3294,82.22,63,20,11.50
37,37,Epe,NG,2022-11-09 03:02:00,6.5841,3.9834,76.21,92,39,3.29
44,44,Butaritari,KI,2022-11-09 03:03:03,3.0707,172.7902,81.19,76,22,9.93
56,56,Kapaa,US,2022-11-09 03:03:08,22.0752,-159.3190,82.38,71,40,13.80

In [14]:
preferred_cities_df.count()

City_ID       148
City          148
Country       148
Date          148
Lat           148
Lng           148
Max Temp      148
Humidity      148
Cloudiness    148
Wind Speed    148
dtype: int64